<script>

export default {
    props: {
        imagen: Object,
        index: Number,
        deleteImage: Function,
    },
}

</script>


<template>
    <div v-on:click="deleteImage(index)" class="imageContainer" :id="'div-' + index">
        <img :src="imagen.thumbnailUrl" :alt="imagen.title" />
    </div>
</template>


<style>
.imageContainer {
    animation-name: smoothly;
    animation-duration: 3s;
}

@keyframes smoothly {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.drop {
    animation-name: drop;
    animation-duration: 0.8s;
}

@keyframes drop {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
</style>