<script setup>
import ImagesComponent from './components/Images.vue';
import Spinner from './components/SpinnerLoad.vue';
</script>

<script>
export default {
  data() {
    return {
      imageList: {},
      loading: false,
    }
  },
  created() {
    this.loading = true
    const options = { method: 'GET', headers: { 'Content-Type': 'application/json' } }

    fetch('https://jsonplaceholder.typicode.com/photos', options).then(async response => {
      const data = await response.json()

      if (!response.ok) {
        const error = response.statusText
        Promise.reject(error)
        alert('Error to load the page, try again later')
      }
      this.imageList = data
      this.loading = false
    }).catch(error => {
      alert('Error to load the page, try again later')
    })
  },
  methods: {
    deleteImage(indexImage) {
      const element = document.getElementById('div-'+indexImage)
      if(element){
       element.classList.add('drop')
       
       setTimeout(() => {
        this.imageList.splice(indexImage, 1)
       },700)
      }
     
    }
  },
}
</script>

<template>
  <main>
    <Spinner v-if="this.loading" />
    <section class="gridContainer" v-else>
      <ImagesComponent v-for="( image, index ) in this.imageList " :key="image.id" :imagen="image"
        :deleteImage="deleteImage" :index="index" />
    </section>
  </main>
</template>

<style>
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-template-rows: auto;
  gap: 12px;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width:576px) {
  .gridContainer {
    grid-template-columns: repeat(2, 150px);
  }
}
</style>
